<h1 class="center login-h1 orange"> Sign Up </h1>
               
<div class="column fluid raised card sign_up_div">
  <div class="ui form">
    <%= form_with(model: @user, local: true) do |form| %>

      <div class="field">    
        <%= form.label :username %>
        <div class="ui left icon input">      
          <%= form.text_field :username, placeholder: "Username" %>
          <i class="user icon orange"></i>
        </div>
      </div>

      <div class="field">   
        <%= form.label :email %>
        <div class="ui left icon input">      
          <%= form.email_field :email, placeholder: "Email" %>
          <i class="mail icon orange"></i>
        </div>
      </div>

      <div class="field">   
        <%= form.label :password %>
        <div class="ui left icon input">      
          <%= form.password_field :password, placeholder: "Password" %>
          <i class="lock icon orange"></i>
        </div>
      </div>
        
      <%= form.submit "Sign Up", class: "ui orange submit button" %>
    <% end %>
  </div>
</div>
  
